body{
    margin: 0;
    padding: 0;
    font-family: 'Noticia Text';
}
body p{
    font-family: sans-serif;
}
#header-area{
    height: 300px;
    margin: 0 200px;
}
.header-div{
    width: 50%;
    float: left;
    display: block;
}
.header-div img{
    width: 70%;
}

.top-heading h1{
    font-size: 75px;
    font-weight: 700;
    color: #333333;
}
.header-div p{
    font-size: 20px;
    font-weight: 500;
}
.heading-paragraph{
    margin-top: -25px;
}
.scroll-text p{
    font-size: 16px;
    padding-top: 25px;
}

.top-heading{
    margin-top: 200px;
    border-left: 5px solid #FF5959;
    padding-left: 10px;
}

.main-button{
    font-size: 20px;
    color: #fff;
    background-color: #FF5959;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
}
.main-button:hover{
    font-size: 20px;
    color: #fff;
    background-color: #db5353;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
}
.heading-text{
    margin-top: -25px;
}
#mission-vission-area{
    margin: 200px 200px 100px 200px;
}
#mission-vission-area h1{
    font-size: 75px;
    font-weight: 700;
    padding-top: 400px;
    text-align: center;
    color: #13103A;
}
.mission-container{
    overflow: hidden;
}
.mission-container img{
    width: 40%;
}
 .mission{
    float: left;
    width: 29%;
    background-color: #EDF5F6;
    margin-right: 30px;
    border-radius: 20px;
    padding: 55px 20px;


}
.vission{
    float: left;
    width: 29%;
    background-color: #FFEEEE;
    margin-right: 30px;
    border-radius: 20px;
    padding: 50px 20px;
}
.goals{
    width: 29%;
    float: left;
    background-color: #FFF4D6;
    border-radius: 20px;
    padding: 50px 20px;

}

.mission-container h3{
    font-size: 35px;
    font-weight: 600;
}
.mission-container p{
    font-size: 25px;
    font-weight: 500;
}


#devloper-area{
    margin-top: 100px;
    margin-bottom: 100px;
    overflow: hidden;
    margin: 100px 200px;
}
.dev-image{
    width: 35%;
    float: left;
}

.dev-content{
    width: 60%;
    float: left;
    padding-left: 50px;
    margin-top: 10px;

}
.dev-image img{
    width: 100%;
}

.dev-content h2{
    font-size: 45px;
    font-weight: 700;
}
.dev-content p{
    font-size: 22px;
    font-weight: 500;
}

.dev-content button{
    margin-top: 20px;
}



#community-area{

    margin-bottom: 100px;
    overflow: hidden;
    margin: 100px 200px;
    
}
.community-image{
    width: 35%;
    float: left;
}

.community-content{
    width: 60%;
    float: left;
    padding-right: 50px;
    margin-top: 100px;

}
.community-image img{
    width: 100%;
}

.community-content h2{
    font-size: 45px;
    font-weight: 700;
}
.community-content p{
    font-size: 22px;
    font-weight: 500;
}

.community-content button{
    margin-top: 20px;
}


#contact-area{
    padding: 100px 100px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 76)), url(image/contact.jpg);
} 

.contact-info textarea{
    width: 100%;
    background: #fff0;
    color: #fff;
    border-style: none;
    border: 1px solid rgb(175 175 175);
    border-radius: 5px;
}
textarea::placeholder {
    color: rgb(175 175 175);
    
  }
.contact-info input{
    width: 98%;
    padding: 15px 20px;
    margin-bottom: 10px;
    background: #fff0;
    color: rgb(175 175 175);
    border-style: none;
    border: 1px solid rgb(175 175 175);
    border-radius: 5px;
}
input::placeholder {
    color: rgb(175 175 175);
    
}
#contact-area button{
    margin-top: 20px;
    float: right;
}




#footer{
    margin: 100px 0px 0px 0px;
    background-color: #000;
    padding: 20px;
    color: #fff;
    text-align: center;
}

#footer h1{
    font-family: 'Lobster Two', cursive;
    font-size: 35px;
    font-weight: 500;
}
#footer p{
    font-size: 15;
    font-weight: 500;
    color: rgb(180, 180, 180);
}
