body{
    margin: 0;
    padding: 0;
}

/*---hero section area---*/
.main-button{
    font-size: 20px;
    color: #fff;
    background-color: #FF5959;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    text-decoration: none;
}
.main-button:hover{
    font-size: 20px;
    color: #fff;
    background-color: #db5353;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
}

h1{
    font-size: 55px;
    font-family: 'Yeseva One', cursive;
}
h2{
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}
h3{   
     font-size: 22px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

p{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.top-heading{
    border-left: 5px solid red;
    padding-left: 10px;
}
.top-heading h1{
    font-size: 70px;
    width: 600px;
}

.scroll-text{
    margin-top: 100px;
}

#header-area{
    max-width: 1120px;
    margin: auto;
    display: block;
}

.container{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-between;
}

.header1{
    width: 50%;
}

#header-area .container p{
    font-size: 18px;
    margin-bottom: 40px;
    margin-top: -35px;
}

.header2{
    width: 50%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-between;
}

.header2 img{
    width: 100%;
}



/*---Mission ,vission and goals area---*/
#mission-vission-area{
    max-width: 1120px;
    margin: auto;
    display: block;
    padding: 75px 0;
}

#mission-vission-area img{
    width: 50%;
}


#mission-vission-area h1{
    text-align: center;
}

.mission{
    width: 33.33;
    margin-right: 20px;
    background-color: #EDF5F6;
}
.vission{
    width: 33.33;
    margin-right: 20px;
    background-color: #FFEEEE;
}
.goals{
    background-color: #FFF4D6;
    width: 33.33;
}

.mvg{
    border-radius: 25px;
    padding: 35px 25px;
}



/*---devloper area---*/
#devloper-area{
    max-width: 1120px;
    margin: auto;
    display: block;
    padding: 75px 0;
}

#devloper-area img{
    margin-left: -100px;
}
.dev-content{
    margin-left: 50px;
}

#devloper-area h2{
    max-width: 260px;
    margin-top: -35px;
    margin-bottom: 0;
}

#devloper-area p{
    margin-bottom: 40px;
}



/*---community area---*/
#community-area{
    max-width: 1120px;
    margin: auto;
    display: block;
    padding: 75px 0;
}

#community-area img{
    margin-right: -100px;
}
.community-content{
    margin-right: 50px;
}

#community-area h2{
    max-width: 430px;
    margin-top: -35px;
    margin-bottom: 0;
}

#community-area p{
    margin-bottom: 40px;
}



/*---contqact area---*/

#contact-area{
    padding: 0px 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
} 
.contact-info{
    max-width: 1120px;
    margin: auto;
    display: block;
}
.contact-info textarea{
    width: 100%;
    background: #fff0;
    color: rgb(0, 0, 0);
    border-style: none;
    border: 1px solid rgb(46, 46, 46);
    border-radius: 5px;
}
textarea::placeholder {
    color: rgb(0, 0, 0);
    
  }
.contact-info input{
    width: 97%;
    padding: 15px 20px;
    margin-bottom: 15px;
    background: #fff0;
    color: #000;
    border-style: none;
    border: 1px solid rgb(46, 46, 46);
    border-radius: 5px;
}
input::placeholder {
    color: #000;
    
}
#contact-area a{
    margin-top: 20px;
    float: right;
}

#contact-area h1{
    text-align: center;
}





/*---Footer area---*/

#footer{
    margin: 100px 0px 0px 0px;
    background-color: #000;
    padding: 20px;
    color: #fff;
    text-align: center;
}

#footer h1{
    font-family: 'Lobster Two', cursive;
    font-size: 35px;
    font-weight: 500;
}
#footer p{
    font-size: 15;
    font-weight: 500;
    color: rgb(180, 180, 180);
}



